{% extends "base/home.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1>Zaloguj</h1>
  {% if form.errors %}
    <p>
      Użytkownik lub hasło nie są poprawne.
      Spróbuj ponownie, bądź skontaktuj się z administratorem systemu.
    </p>
  {% else %}
    <p>Zaloguj uzupełniając dane logowania:</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'account:login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
  </div>
{% endblock %}