<!DOCTYPE html>
<html lang="pl">
    <head>
        <title> SKIT - {% block title %}system konferencji IT {% endblock %} </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% load staticfiles %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
        <link rel="stylesheet" href="{% static 'base/css/sticky-footer-navbar.css' %}" type="text/css" />
    </head>
    <body class="body" style="background-color:rgba(157, 191, 245, 0.562)">
            <header>
                <!-- Fixed navbar -->
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                    <a class="navbar-brand" href="{% url 'base:index' %}">Recepcja</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="dropdown">
                                <a class="nav-link" href="{% url 'base:index' %}" data-toggle="dropdown">Zarządzaj firmą<span class="sr-only"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{% url 'company:employee_list' %}">Lista pracowników</a></li>
                                    <li><a class="dropdown-item" href="{% url 'company:employee_add' %}">Dodaj pracownika</a></li>
                                    <li><a class="dropdown-item" href="{% url 'company:visitor_list' %}">Lista gości</a></li>
                                    <li><a class="dropdown-item" href="{% url 'company:visitor_add' %}">Dodaj gościa</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'company:room_list' %}">Lista pomieszczeń</a></li>
                                    <li><a class="dropdown-item" href="{% url 'company:room_add' %}">Dodaj pomieszczenie</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                            <a class="nav-link" href="{% url 'base:index' %}" data-toggle="dropdown">Zarządzaj konferencjami<span class="sr-only"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a  class="dropdown-item" href="{% url 'company:meeting_list' %}">Lista konferencji</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'company:meeting_add' %}">Dodaj konferencję</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'company:room_reservation_list' %}">Rezerwacje pomieszczeń</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'company:room_reservation_add' %}">Dodaj rezerwację</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'company:meeting_participant_list' %}">Listy uczestników konferencji</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'company:meeting_participant_add' %}">Dodaj listę uczestników konferencji</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                            <a class="nav-link" href="{% url 'base:index' %}" data-toggle="dropdown">Zarządzaj dokumentami<span class="sr-only"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a  class="dropdown-item" href="{% url 'document:employee_document_list' %}">Lista dokumentów pracownika</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'document:employee_document_add' %}">Dodaj dokument pracownika</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'document:meeting_document_list' %}">Lista dokumentów konferencji</a></li>
                                    <li><a  class="dropdown-item" href="{% url 'document:meeting_document_add' %}">Dodaj dokument konferencji</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                    <a class="nav-link" href="{% url 'base:index' %}" data-toggle="dropdown">Zarządzaj kartami<span class="sr-only"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a  class="dropdown-item" href="{% url 'cards:card_list' %}">Lista kart dostępu</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'cards:taken_card_list' %}">Lista kart wydanych</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'cards:free_card_list' %}">Lista kart wolnych</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'cards:card_add' %}">Dodaj kartę dostępu</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'cards:employee_card_usage_list' %}">Wyświetl wydania kart pracownikom</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'cards:employee_card_usage_give' %}">Wydaj kartę pracownikowi</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'cards:visitor_card_usage_list' %}">Wyświetl wydania kart gościom</a></li>
                                            <li><a  class="dropdown-item" href="{% url 'cards:visitor_card_usage_give' %}">Wydaj kartę gościowi</a></li>
                                        </ul>
                            </li>
                            <li class="dropdown ">
                                    <a class="nav-link" href="#" data-toggle="dropdown">{{request.user.first_name}} {{request.user.last_name}}<span class="sr-only"></span></a>
                                    <ul class="dropdown-menu">
                                            <li><a class="dropdown-item"href="{% url 'account:logout' %}">Logout</a></li>
                                    </ul>
                            </li>
                        </ul>
                    </div>
                    {% endif %}
                </nav>
            </header>
            <!-- Begin page content -->
            <main role="main" class="container-fluid">
                {% block content %}
                {% endblock %}
            </main>
            <footer class="footer">
                <div class="container">
                    <span class="text-muted" >SKIT - System konferencji IT. System e-Recepcji do obsługi konferencji dla nowoczesnej firmy IT.</span>
                </div>
            </footer>





    </body>
</html>